<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

  <dataConfiguration defaultDatabase="VideoLibraryDB" />

  <connectionStrings>
    <add name="VideoLibraryDB" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=VideoLibraryDB;Integrated Security=True" />
    <add name="ADOVideoLibrary" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=VideoLibraryDB;Integrated Security=True" />

    <add name="VideoLibrary" connectionString="data source=(local);initial catalog=VideoLibraryDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="VideoLibraryEF" connectionString="data source=(local);initial catalog=VideoLibraryDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="VideoLibraryDataModel" connectionString="data source=(local);initial catalog=VideoLibraryDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="VideoLibraryModel" connectionString="data source=(local);initial catalog=VideoLibraryDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

    <add name="VideoLibraryDBEntities" connectionString="metadata=res://*/VideoLibraryDB.csdl|res://*/VideoLibraryDB.ssdl|res://*/VideoLibraryDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=VideoLibraryDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VideoLibraryDBEntitiesSuguitan" connectionString="metadata=res://*/VideoLibraryDB.csdl|res://*/VideoLibraryDB.ssdl|res://*/VideoLibraryDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=VideoLibraryDBSuguitan;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VideoLibraryEntities" connectionString="metadata=res://*/VideoLibraryDB.csdl|res://*/VideoLibraryDB.ssdl|res://*/VideoLibraryDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=VideoLibraryDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

</configuration>
